# editorconfig.org

root = true

[*.cs]
# Indentation
indent_style = space
indent_size = 2

# ONLY remove unused imports (IDE0005)
# All other formatting is disabled to avoid "Unmerged change" comments in multi-targeted projects
dotnet_diagnostic.IDE0005.severity = none
dotnet_diagnostic.IDE0055.severity = none



